<div class="main-container ps-3">
  <div class="text-center">
    <h1 class="display-1 fs-1">Projects</h1>
  </div>
  <div class="row">
    <div class="col-12 card border-0 bg-transparent">
      <div class="row p-3 mx-md-5">
        <div class="form-floating col-4">
          <input placeholder="." id="projectTitleInput" class="form-control gentle-generic-shadow" type="text" [(ngModel)]="projName">
          <label for="projectTitleInput" class="ms-3">Project Title</label>
        </div>
        <div class="form-floating col-4">
          <input placeholder="." id="projectClientInput" class="form-control gentle-generic-shadow" type="text" [(ngModel)]="clientName">
          <label for="projectClientInput" class="ms-3">Client Name</label>
        </div>
        <div class="col-4 d-flex align-items-center">
          <span class="vr me-4"></span>
          <button (click)="openModal()" class="btn btn-secondary">Add New Project</button>
        </div>
      </div>
    </div>
    <div class="card col-12 border-0 bg-transparent desktop-table-context">
      <div class="card-body w-100 row">
        <div class="col-12 col-md-2">
          <p class="display-6 fs-6 fw-bold">Title</p>
        </div>
        <div class="col-12 col-md-2">
          <p class="display-6 fs-6 fw-bold">Client</p>
        </div>
        <div class="col-12 col-md-2">
          <p class="display-6 fs-6 fw-bold">Employees</p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-items-center align-items-center">
          <p class="display-6 fs-6 fw-bold">Budget</p>
        </div>
        <div class="col-12 col-md-2">
          <div class="px-4 py-2 fw-bold">Status</div>
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
  </div>
      <ng-container *ngIf="sortBy('status') | projectFilter:'title':projName:contacts |projectFilter:'client':clientName:contacts as projects">
        <div *ngFor="let prj of projects" class="card col-12 mt-2" [ngClass]="{'bg-pitch':prj.status=='pitch','bg-pre':prj.status=='pre','bg-post':prj.status=='post','bg-done':prj.status=='done'}">
          <!-- <ng-container *ngIf="prj.status!='done'"> -->
            <div class="card-body w-100 row">
              <div class="col-12 col-md-2">
                <p class="display-6 fs-6 fw-bolder">{{prj.title}}</p>
              </div>
              <div *ngIf="getContact(prj.client)" class="col-12 col-md-2">
                <p class="display-6 fs-6 fw-semibold">{{getContact(prj.client).name}}</p>
              </div>
              <div class="col-12 col-md-2">
                <ul *ngIf="getContact(prj.employees[0]); else neEmployees">
                    <li *ngFor="let emp of prj.employees">{{getContact(emp).name}}</li>
                </ul>
                <ng-template #neEmployees>
                    <span class="text-danger">No Employees Assaigned Yet</span>
                </ng-template>
              </div>
              <div class="col-12 col-md-2 d-flex justify-items-center align-items-center">
                <p class="display-6 fs-6">{{prj.budget | currency}}</p>
              </div>
              <div class="col-12 col-md-2">
                <div [ngClass]="{'pitch-status':prj.status=='pitch', 'pre-status':prj.status=='pre', 'post-status':prj.status=='post', 'done-status':prj.status=='done'}" class="px-4 py-2">
                    {{prj.status | titlecase}}
                </div>
              </div>
              <div class="col-12 col-md-2 d-flex justify-content-center align-content-center">
                <a (click)="openProjectEditor(prj)"><i class="fa-solid fa-pencil mt-3 project-editor-icon"></i></a>
              </div>
            </div>
          <!-- </ng-container> -->
      </div>
      </ng-container>
  </div>
</div>