<div class="row text-white" id="mainHeaderContainer">
  <div class="col-12 col-sm-8">
    <!-- <h1 class="display-3">Mikonos NG</h1>
    <p class="display-6">Online CRM</p> -->
    <img src="../../../assets/logo.png" class="site-logo">
    <span class="text-muted">Currently with public access</span>
  </div>
  <div class="col-12 col-sm-4">
    <ng-container *ngIf="getLoggedUser().length!=0">
      <h4 class="display-6">Welcome Back, <small>{{getLoggedUser()}}</small></h4>
    </ng-container>
  </div>
</div>